<div ng-controller="CreateStudentCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Add a student</h3>

            <form name="studentForm" novalidate role="form">
                <div class="form-group">
                    <label for="sbid">Student ID<span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="studentForm.sbid.$error.required">Student Id required!</span>
                    <input id="sbid" type="text" name="sbid" ng-model="student.sbId" class="form-control" ng-required="true" placeholder= "1001"/>
                </div>

                <div class="form-group">
                    <label for="name">Name<span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="studentForm.name.$error.required">Student name required!</span>
                    <input id="name" type="text" ng-model="student.name" name="name" class="form-control" ng-required="true" placeholder = "Jane Doe">
                </div>

                <div class="form-group">
                    <label for="email">E-mail Id<span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="studentForm.email.$error.required">Email Id required!</span>
                    <span class="label label-danger"
                        ng-show="studentForm.email.$error.email">Need valid Email Id !</span>

                    <input id="email" type="email" name="email" ng-model="student.email" class="form-control" placeholder="jdoe@gmail.com" ng-required="true"/>
                </div>

                <div class="form-group">
                    <label for="cellphone">Cell Phone<span class="required">*</span></label>
                    <span class="label label-danger"
                        ng-show="studentForm.cellphone.$error.required">Cell phone number required!</span>
                    <span class="label label-danger"
                        ng-show="studentForm.cellphone.$error.pattern">Need valid cell number !</span>

                    <input id="cellphone" type="text" ng-model="student.cellphone" name="cellphone" class="form-control" ng-required="true" placeholder="(999) 999-9999" ng-pattern="/^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$/"/>
                </div>

                <button ng-click="createStudent(studentForm)" class="btn btn-primary"
                        ng-disabled="!isValidStudent(studentForm) || loading">Create
                </button>

                <a href="#/students">
                    <button class="btn btn-primary">Back</button>
                </a>
            </form>
        </div>
    </div>
</div>