<div ng-controller="CreateBookCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Add a book</h3>

            <form name="bookForm" novalidate role="form">
                <div class="form-group">
                    <label for="sbid">Book ID<span class="required">*</span></label>
                    <input id="sbid" type="text" name="sbid" ng-model="book.sbId" class="form-control" ng-required="true"/>
                </div>

                <div class="form-group">
                    <label for="language">Language</label>
                    <select id="language" ng-model="book.language" name="language" ng-options="language for language in languages"
                            class="form-control">
                    </select>
                </div>

                <div class="form-group">
                    <label for="title">Title</label>
                    <input id="title" type="text" name="title" ng-model="book.title" class="form-control"
                           ng-required="true"/>
                </div>

                <div class="form-group">
                    <label for="author">Author</label>
                    <input id="author" type="text" ng-model="book.author" name="author" class="form-control"/>
                </div>

                <button ng-click="createBook(bookForm)" class="btn btn-primary"
                        ng-disabled="!isValidBook(bookForm) || loading">Create
                </button>

                <a href="#/books">
                    <button class="btn btn-primary">Back</button>
                </a>
            </form>
        </div>
    </div>
</div>