<div class="section-a">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>View checkouts</h2>

            <p class="lead">View all current checkouts, or just the ones overdue, export them to csv</p>
            <a href="#/checkouts" class="btn btn-default btn-lg">View checkouts</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>Add books</h2>

            <p class="lead">Scan the ISBN code, and get book details prefilled.</p>
            <a href="#/books/create" class="btn btn-default btn-lg">Add books</a>
        </div>
    </div>
</div>
<div class="section-b">
    <div class="row">
        <div class="col-lg-5 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>Manage Students</h2>

            <p class="lead">Search for a student, and update their email, so overdue reminders can reach them</p>
            <a href="#/students" class="btn btn-default btn-lg">View students</a>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            <hr>
            <div class="clearfix"></div>
            <h2>Manage books</h2>

            <p class="lead">Edit book details.</p>
            <a href="#/books" class="btn btn-default btn-lg">Edit books</a>
        </div>
    </div>
</div>
