<div ng-controller="ShowBooksCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Show books</h3>
        </div>
    </div>

    <form class="form-inline" name="filterForm">
        <div class="form-group-condensed">
            <label for="idsearch">Enter Id:</label>
            <input name="idsearch" id="idsearch" type="text" ng-model="searchId" class="form-control"/>

            <label for="titlesearch">Enter Title:</label>
            <input name="titlesearch" id="titlesearch" type="text" ng-model="searchTitle" class="form-control"/>

            <button ng-click="queryBooks();" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>

            <a href="#/books/create" >
                <button class="btn btn-primary pull-right">
                    <i class="glyphicon glyphicon-plus"></i> Add Book
                </button>
            </a>
        </div>
    </form>
    <div ng-show="submitted && books.length == 0">
        <h4>No matching results.</h4>
    </div>
    <div class="table-responsive" ng-show="books.length > 0">
        <table id="book-table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>SB ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Language</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="book in books">
                <td>{{book.sbId}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.language}}</td>
                <td>
                    <a href="#/books/edit/{{book.websafeKey}}" >
                        <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>Edit
                        </button>
                    </a>
                </td>
                <td>
                    <a href="#/books/delete/{{book.websafeKey}}" >
                        <button class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-trash"></i>Delete
                        </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

