<div ng-controller="ShowCheckoutsCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div id="messages" class="alert alert-{{alertStatus}}" ng-show="messages">
                <span ng-bind="messages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="messages = ''"
                   ng-show="messages"></i>
            </div>
            <img class="spinner" src="/img/ajax-loader.gif" ng-show="loading"/>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h3>Search Current Checkouts</h3>
        </div>
    </div>

    <form class="form-inline" name="filterForm">
        <div class="form-group-condensed">
            <label for="idsearch">Enter Id:</label>
            <input name="idsearch" id="idsearch" type="text" ng-model="searchId" class="form-control"/>

            <label for="titlesearch">or Enter Title:</label>
            <input name="titlesearch" id="titlesearch" type="text" ng-model="searchTitle" class="form-control"/>

            <button ng-click="queryCheckouts();" class="btn btn-primary">
                <i class="glyphicon glyphicon-search"></i> Search
            </button>

            <span class="label label-danger"
                ng-show="searchId.length>0 && searchTitle.length>0">We can only search on one field!</span>

        </div>
    </form>


    <div ng-show="submitted && checkouts.length == 0">
        <h4>No matching results.</h4>
    </div>

    <div ng-show="checkouts.length > 0">
        <a download="checkouts.csv" href="#" onclick="return ExcellentExport.csv(this, 'book-table');">Export to CSV</a>
        <table id="book-table" class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Student ID</th>
                <th>Book ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Language</th>
                <th>Checkout Date</th>
                <th>Due Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="checkout in checkouts">
                <td><strong class="visible-xs">Student ID: </strong>{{checkout.studentId}}</td>
                <td><strong class="visible-xs">Book ID: </strong>{{checkout.bookId}}</td>
                <td><strong class="visible-xs">Title: </strong>{{checkout.title}}</td>
                <td><strong class="visible-xs">Author: </strong>{{checkout.author}}</td>
                <td><strong class="visible-xs">Language: </strong>{{checkout.language}}</td>
                <td><strong class="visible-xs">Checkout Date: </strong>{{checkout.checkoutDate}}</td>
                <td><strong class="visible-xs">Due Date: </strong>{{checkout.dueDate}}</td>
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="checkin(checkout)" ng-show="!checkout.checkedIn">
                        Check In
                    </button>
                    <span ng-show="checkout.checkedIn">Checked in</span>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

