<!DOCTYPE html>
<!-- Bootstrap the angular app after the Google Java Script libraries are loaded. -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shishu Bharathi Library</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-cosmo.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/offcanvas.css">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script>
        /**
         * Initializes the Google API JavaScript client. Bootstrap the angular module after loading the Google libraries
         * so that Google JavaScript library ready in the angular modules.
         */
        function init() {
            var ROOT = '//' + window.location.host + '/_ah/api';
            console.log(ROOT);
            gapi.client.load('sblibrary', 'v1', function () {
                console.log('after sblibrary load');
                gapi.client.load('oauth2', 'v2', function() {
                    console.log('after oauth2 load');
                    angular.bootstrap(document, ['libraryApp']);
                });
            }, ROOT);
        };
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init">
    </script>
</head>

<!-- Restore the credential from cookie if stored by calling initSignInButton() -->
<body ng-controller="RootCtrl" ng-init="initSignInButton()">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Shishu Bharati Library</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/checkouts')}" ng-click="collapseNavbar()"><a href="#/checkouts">Check-in</a></li>
                <li ng-class="{ active: isActive('/students')}" ng-click="collapseNavbar()"><a href="#/students">Manage Students / Check-out</a></li>
                <li ng-class="{ active: isActive('/books')}" ng-click="collapseNavbar()"><a href="#/books" >Manage Books</a></li>
                <li class="nav-divider"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="signInLink" ng-hide="getSignedInState()"><a ng-click="signIn(false); collapseNavbar()">Google+ SignIn</a></li>
                <li id="signOutLink" ng-show="getSignedInState()"><a ng-click="signOut(); collapseNavbar()">Log out</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="rootMessages" class="alert alert-{{alertStatus}}" ng-show="rootMessages">
                <span ng-bind="rootMessages"></span>
                <i class="dismiss-messages pull-right glyphicon glyphicon-remove" ng-click="rootMessages = ''"
                   ng-show="rootMessages"></i>
            </div>
        </div>
    </div>
    <ng-view></ng-view>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/js/quagga.js"></script>
<script src="/js/bootstrap-filestyle.js"></script>
<script src="/js/excellentexport.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controllers.js"></script>

</body>
</html>
